* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #222;
}

.header_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 19px;
    padding: 18px 32px;
    margin-left: auto;
    margin-right: auto;
}

.header_left {
    gap: 41px;
    display: flex;
    align-items: end;
}

.header_icons {
    display: flex;
    gap: 25px;
    align-items: center;
    position: relative;
}

.header_icons::after{
    position: absolute;
    content: "5";
    color: #FFF;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: -5px;
    right: -10px;
    width: 19px;
    height: 19px;
    background: #F16D7F;
    border-radius: 10px;
    text-align: center;
}

.menu-button:hover .menu {display: block;}
.menu{
    display: none;
    position: fixed;
    top: 78px;
    right: 0px;
    width: 232px;
    background: #FFF;
    padding: 32px 0px;
    z-index: 1;
}
.menu-title{
    color: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 32px;
    padding-bottom: 20px;
}

.menu-title:first-child{
    color: #000;
    font-weight: 700;
    padding-bottom: 24px;
}
.menu-list{
    list-style: none;
}
.menu-sub{
    padding: 6px 22px;
}
.menu-sub:first-child{
    padding-top: 12px;
}

.intro {
    background-color: #F1E4E6;
}

.intro_center {
    display: flex;
}

.intro_img {
    width: 100%;
}

.intro_right {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 34px;
}

.intro_text {
    display: flex;
    flex-direction: column;
}

.intro_text_bot_all {
    display: flex;
    flex-wrap: nowrap;
    min-width: 283px;
    gap: 8px;
}

.intro_text_top {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.intro_text_bot {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.intro_text_bit_end {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categories {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.categories_cell {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.big_cell {
    grid-column: span 3;
    max-width: 1140px;
}

.categories_img {
    width: 100%;
}

.categories_cell_text {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
}

.categories_cell_text_top {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.categories_cell_text_bot {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categories_img_big {
    position: relative;
    width: 100%;
    max-width: 1140px;
}

.categories_cell_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.70);
}

.catalog {
    padding-top: 96px;
}

.catalog_title {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    padding-bottom: 48px;
}

.catalog_title_main {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog_title_second {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.catalog_grid_cell {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.catalog_grid_cell:hover .catalog-img__bg-active{
    display: block;

}
.catalog_grid_cell:hover .categories-add{
    display: block;
}

.catalog_grid_cell_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    max-width: 315px;
}

.catalog_grid_cell_text_title {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog_grid_cell_text_inf {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.catalog_grid_cell_text_price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog_button {
    margin-top: 48px;
    width: 212px;
    height: 48px;
    border: #FF6A6A solid 1px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.catalog_button:hover .catalog_button_text{
    background: #F16D7F;
    color: #FFF;
}
.catalog_button:hover{
    background: #F16D7F;
}

.catalog_button_text {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: white;
    border: none;
}

.catalog_grid_cell_img {
    width: 100%;
    max-width: 360px;
}
.catalog-img-bg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalog-img__bg-active{
    display: none;
    background: rgba(33, 22, 22, 0.70);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}
.categories-add{
    position: absolute;
    display: none;
}
.categories-add__button{
    background: none;
    border: white 1px solid;
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 44px;
    gap: 4px;
}

.advantages {
    display: flex;
    background: #222224;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 95px;
}

.advantages .advantages-item {
    width: 360px;
    text-align: center;
    padding-top: 103px;
    padding-bottom: 104px;
}

.advantages-item .item-title {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;

}

.i1 {
    margin-top: 28px;
}

.i2 {
    padding-top: 19px;
}

.i3 {
    padding-top: 25px;
}

.advantages-item .item-text {
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-right: auto;
    margin-left: auto;
    max-width: 315px;

}

.join{
    height: 448px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-img{
    min-width: 100vw;
}
.join-img__overfl{
    width: 100vw;
    overflow: hidden;
    height: 448px;
    position: relative;
}
.join-bg{
    position: absolute;
    background-color: rgba(244, 244, 244);
    opacity: 0.7;
    background-size: cover;
    height: 448px;
    width: 100%;
    
}
.join-container{
    position: absolute;
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.join-discription{
    text-align: center;
    max-width: 360px;
}
.discription-text{
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.discription-text-itelic{
    font-style: italic;
}
.join-subscribe{
    max-width: 557px;
    text-align: center;
    color: #222224;
    font-family: Lato;
    font-style: normal;
}
.join-subscribe__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
}
.join-subscribe__text{
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
}
.join-form{
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.email{
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    width: 256px;
    border: none;
    height: 49px;
    background-color: #E1E1E1;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.submit{
    width: 100px;
    height: 49px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border: none;
    background-color:#F16D7F;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer{
    background-color: #222224;
}
.footer-container{
    max-width: 1140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0px;
}
.content-reserved{
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.messages-list{
    display: flex;
    list-style: none;
    gap: 7px;
}
.messages-item{
    width: 32px;
    height: 32px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messages-item:hover{
    background-color: #F16D7F;
}
.messages-icon{
    fill: black;
}
.messages-item:hover .messages-icon{
    fill: white;
}


@media screen and (max-width: 1439px) and (min-width: 768px) {
    .header_basket {
        padding-left: 17px;
    }

    .intro_text_top {
        font-size: 44px;
    }

    .intro_text_bot {
        font-size: 24px;
    }

    .intro_text_bit_end {
        font-size: 24px;
    }

    .categories {
        gap: 20px;
    }

    .catalog {
        padding-top: 110px;
    }

    .catalog_title {
        gap: 3px;
        padding-bottom: 73px;
    }

    .catalog_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .catalog_grid_cell {
        max-width: 360px;

    }
    .advantages{
        margin-top: 65px;
        flex-direction: column;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 64px;
    }
    .advantages .advantages-item{
        padding: 0px;
    }

    .join-container{
        flex-direction: column;
        gap: 48px;
        padding-top: 64px;
        padding-bottom: 140px;
        width: auto;
    }
    .join{
        height: 639px;
    }
    .join-img{
        height: 639px;
    }
    .join-img__overfl{
        height: 639px;
    }
    .join-bg{
        height: 639px;
    }
    .footer-container{
        margin-right: 32px;
        margin-left: 32px;
    }
}

@media screen and (max-width: 767px) {
    .header-icon {
        display: none;
    }

    .header_head {
        padding: 18px 16px;
    }

    .intro_img {
        display: none;
    }

    .intro_center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 363px;
    }

    .intro_text_top {
        font-size: 38px;
    }

    .intro_text_bot {
        font-size: 20px;
    }

    .intro_text_bit_end {
        font-size: 20px;
    }

    .intro_text_bot_all {
        min-width: 0;
    }

    .intro_right {
        margin-right: 0;
    }

    .categories {
        padding: 64px 16px;
        gap: 32px;
        margin-top: 0;
        grid-template-columns: none;
        display: flex;
        flex-direction: column;
    }

    .big_cell {
        min-height: 111px;
        max-height: 150px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .categories_img_big {
        position: absolute;
        width: 741px;
        height: 120px;
    }

    .catalog {
        padding-top: 0;
    }

    .catalog_title {
        gap: 3px;
        padding-bottom: 65px;
    }

    .catalog_grid {
        grid-template-columns: none;
        margin: 0 8px;
    }

    .catalog_grid_cell_img {
        width: 100%;
    }

    .catalog_grid_cell {
        width: 100%;
    }

    .catalog_grid_cell_img {
        max-width: none;
    }

    .catalog_button {
        margin-top: 48px;
    }
    .discription-text{
        font-size: 18px;
    }
    .join-subscribe__text{
        font-size: 14px;
    }
    .advantages{
        margin-top: 65px;
        flex-direction: column;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 64px;
    }
    .advantages .advantages-item{
        padding: 0px;
    }

    .join-container{
        flex-direction: column;
        gap: 48px;
        padding-top: 64px;
        padding-bottom: 140px;
        width: auto;
    }
    .join{
        height: 639px;
    }
    .join-img{
        height: 639px;
    }
    .join-img__overfl{
        height: 639px;
    }
    .join-bg{
        height: 639px;
    }
    .footer-container{
        margin-right: 32px;
        margin-left: 32px;
    }
    .footer-container{
        flex-direction: column-reverse;
        padding-top: 43px;
        padding-bottom: 9px;
        gap: 40px;
    }
    .header_icons::after{
        display: none;
    }
}